
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.dLinks > a {
    color: #636b6f;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
}

.blog-title > a {
    color: #636b6f;
    font-size: 27px;
    font-weight: 500;
    text-decoration: none;
}

.blog-title > a:hover {
    color: #000000;
}

.m-b-md {
    margin-bottom: 30px;
}

.navbar-brand{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.page-header{
    font-size: 23px;
}
.page-header > small{
    font-size: 14px;
}
.navbar {
    padding-top: 15px;
    position: relative;
    margin-bottom: 0px;
    padding-bottom: 15px;
}

.navbar > .container{
    padding-left: 0px;
    padding-right: 0px;
}

.banner{
    display: none;
}

.banner{
    background-image: url(../images/home-bg.jpg);;
    height: 500px;
}

.banner > h2{
    position: fixed;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

@media (min-width: 1200px){
    .banner{
        display: block;
    }
    .navbar > .container {
        width: 1337px;
    }
}